# Database Connection
CONNECTION_STRINGS__DEFAULT_CONNECTION=Host=postgres;Port=5432;Database=ss_payment_db;Username=postgres;Password=123456

# RabbitMQ configuration
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest

# Security Verification
GATEWAY_HMAC_SECRET=dev_secret_key_change_in_production
INTERNALSIGNATURE__HEADERNAME=X-Internal-Signature
INTERNALSIGNATURE__SECRETKEYENVVAR=GATEWAY_HMAC_SECRET

# OpenTelemetry configuration
OPENTELEMETRY__SERVICENAME=ss-payment-service
OPENTELEMETRY__ENDPOINT=http://otel-collector:4317

# Midtrans configuration
MIDTRANS__SERVER_KEY=your_server_key_here
MIDTRANS__CLIENT_KEY=your_client_key_here
MIDTRANS__ISPRODUCTION=false
MIDTRANS__SNAPBASEURL=https://app.sandbox.midtrans.com
MIDTRANS__APIBASEURL=https://api.sandbox.midtrans.com
